* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Kalam", cursive;
    color: black;
    background-image: url(groot.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* title */
  header h1 {
    background-color: #0f172a;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
  }
  
  /* textarea */
  #txt-input {
    box-sizing: border-box;
    display: block;
    width: 60%;
    min-height: 20vh;
    margin: 2.5rem auto;
    font-size: larger;
    background-color: #d1d5db;
  }
  
  /* button */
  .btn {
    text-align: center;
  }
  #btn-translate {
    background-color: #0f172a;
    color:aliceblue;
    margin: 1rem auto;
    padding: 1.5rem;
  }
  
  /* another-textarea */
  #translated {
    text-align: center;
    display: block;
  }
  #translated p {
    margin-bottom: 2rem;
    font-size: large;
    color: aliceblue;
  }
  #output {
    width: 40%;
    min-height: 15vh;
    background-color: #d1d5db;

  }
  
  /* footer */
  footer {
    background-color: #0f172a;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
  }
  